.container {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
}

.box {
  border: solid 1px blue;
  list-style: none;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.kaban_list {
  border: 1px solid red;
}

li {
  margin-bottom: 0.5rem;
}
