html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.box {
  justify-content: center;
  border: solid 1px blue;
  list-style: none;
  width: 100%;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 10px;
}

.kaban_list {
  border: 1px solid red;
}
